[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "vendor/openvr"]
	path = vendor/openvr
	url = https://github.com/ValveSoftware/openvr
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "vendor/minhook"]
	path = vendor/minhook
	url = https://github.com/TsudaKageyu/minhook
[submodule "vendor/fmt"]
	path = vendor/fmt
	url = https://github.com/fmtlib/fmt
[submodule "vendor/quill"]
	path = vendor/quill
	url = https://github.com/odygrd/quill
[submodule "vendor/glaze"]
	path = vendor/glaze
	url = https://github.com/stephenberry/glaze.git
[submodule "vendor/volk"]
	path = vendor/volk
	url = https://github.com/zeux/volk.git
[submodule "vendor/Vulkan-Headers"]
	path = vendor/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "vendor/implot"]
	path = vendor/implot
	url = https://github.com/epezent/implot
[submodule "vendor/simpleble"]
	path = vendor/simpleble
	url = https://github.com/simpleble/simpleble
[submodule "vendor/implot3d"]
	path = vendor/implot3d
	url = git@github.com:brenocq/implot3d.git
